body {
  margin: 0;
  padding-top: 0;
  background-color: #4C5764;
/*  background-color: #A4B1BF;*/
}

/*********HEADER********/

.headerBar {
  background-color: #556270;
  height: 55px;
}

.subBar {
  background-color: #4C5764;
  height: 5px;
}

h1 {
  padding-top: 5px;
  font-family: lato;
  font-weight: 800;
  text-align: center;
  color: #C7F464;
  margin: 0;
}

.habi {
  color: white;
  font-weight: 300;
}

/*********LOGIN PAGE********/

.loginForm {
  background-color: white;
  border-radius: 5px;
  margin: auto;
  margin-top: 40px;
  padding: 30px 0;
  text-align: center;
  max-width: 340px;
}

.welcome {
  font-family: lato;
  text-align: center;
  color: #4C5764;
}

.loginMessage {
  font-family: lato;
  text-align: center;
  color: #556270;
}

.textInput {
  margin: 10px 5%;
  width: 80%;
  height: 24px;
  border: none;
  border-bottom: 1px solid #E5E5E5;
  font-family: helvetica;
  font-size: 12px;
}

.button {
  margin: 5px;
  width: 80%;
  height: 32px;
  font-family: helvetica;
  font-size: 15px;
  color: #4C5764;
  text-align: center;
  border-radius: 5px;
  border: none;
  background-color: #C7F464;
}

.button:hover {
  background-color: #B9E35D;
}

.register {
  background-color: #E5E5E5;
}

.register:hover {
  background-color: #CCC;
}

/*********SUBMIT HABIT********/

.fullWidth {
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
  background: #8E98A3;
}

.newHabitForm {
  display: inline;
  border-radius: 5px;
  margin: auto;
  padding: 20px 0;
}

.submitHabit {
  margin: 5px 0;
  max-width: 40px;
  height: 32px;
  font-family: helvetica;
  font-size: 15px;
  color: white;
  text-align: center;
  border-radius: 0 5px 5px 0;
  border: none;
  background-color: #4C5764;
}

.submitHabit:hover {
  background-color: #39414A;
}

.habitInput {
  margin: 5px -4px 5px 20px;
  padding-left: 5px;
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 5px 0px 0px 5px;
  font-family: helvetica;
  font-size: 13px;
}

.radio {
  margin-left: 10px;
  margin-right: 5px;
}

.radioText {
  font-family: helvetica;
  font-size: 15px;
  color: #4C5764;
}

/*********HABITS********/

h2 {
  font-family: lato;
  margin-left: 10px;
  color: white;
  text-align: left;
}

.habitsTable {
  text-align: center;
  width: 100%;
}

table {
  width: 100%;
  border-spacing: 0px;
  background: #8E98A3;
}

td {
  text-align: left;
  font-family: lato;
  font-size: 18px;
  font-weight: 300;
  height: 30px;
  border-bottom: 5px solid #4C5764;
  padding-left: 10px;
}

.updateTD {
  width: 60px;
}

.instances {
  text-align: center;
  padding: 10px 20px;
  width: 90px;
  font-weight: 700;
  color: white;
}

.updateInstances {
  margin: 5px;
  width: 40px;
  height: 32px;
  font-family: helvetica;
  font-size: 15px;
  color: white;
  text-align: center;
  border-radius: 5px;
  border: none;
  background-color: #4C5764;
}

.updateInstances:hover {
  background-color: #39414A;
}

.habitDescription {
  width: 200px;
}

.graph {
  width: 60px;
}

.chart {
  width: 500px;
  height: 500px;
}
