<div class="habitsTable">
  <h2>your good habits</h2>
  <div class="fullWidth">
    <form name="habitracker.newMoreForm" ng-submit="habits.addMoreHabit()" class="newHabitForm">
      <input type="text" placeholder="ex. exercising" class="habitInput" ng-model="habits.newMore.description">
      <input type="submit" class="button submitHabit" value="+" >
    </form>
  </div>
  <table class="table">
    <tbody ng-repeat="(id, habit) in habits.data1">
      <tr class="tableRow">
        <td class="updateTD">
          <button class="updateInstances" id="updateInstances" ng-click="habits.noMoreInstances(id)"><span class="icon-wondering"></span></button>
        </td>
        <td class="updateTD">
          <button class="updateInstances" id="updateInstances" ng-click="habits.createMoreInstances(id)">+</button>
        </td>
        <td class="moreInstances"><div id="{{id}}">{{habit.todaysCount || 0}}</div></td>
        <td class="habitDescription edit-in-place"><edit-in-place value="habit.description">{{habit.description}}</edit-in-place></form></td>
        <td class="graph">
          <button class="button" ng-click="chartTr = !chartTr"><span class="icon-stats-bars"></button>
        </td>
      </tr>
      <tr ng-show="chartTr">
        <td class="chartTd" colspan="5">
          days: <span class="chartData">{{habit.daysTracked.length}}</span>
          total: <span class="chartData">{{habit.total || 0}}</span>
          average: <span class="chartData">{{habit.average || 0}} instances/day</span>
        </td>
      </tr>
      <tr class="chartTr" ng-show="chartTr">
        <td class="chartTd" colspan="5">
          <div ac-chart="'bar'" ac-data="habit.moreChartData" ac-config="config" id='chart' class='chart'></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="habitsTable">
  <h2>your bad habits</h2>
  <div class="fullWidth">
    <form name="habitracker.newLessForm" ng-submit="habits.addLessHabit()" class="newHabitForm">
      <input type="text" placeholder="ex. watching tv" class="habitInput" ng-model="habits.newLess.description">
      <input type="submit" class="button submitHabit" value="+" >
    </form>
  </div>
  <table class="table">
    <tbody ng-repeat="(id, habit) in habits.data2">
      <tr class="tableRow">
        <td class="updateTD">
          <button class="updateInstances" id="updateInstances" ng-click="habits.noLessInstances(id)"><span class="icon-cool"></span></button>
        </td>
        <td class="updateTD">
          <button class="updateInstances" id="updateInstances" ng-click="habits.createLessInstances(id)">+</button>
        </td>
        <td class="lessInstances"><div id="{{id}}">{{habit.todaysCount || 0}}</div></td>
        <td class="habitDescription">{{habit.description}}</td>
        <td class="graph">
          <button class="button" ng-click="lessChartTr = !lessChartTr"><span class="icon-stats-bars"></button>
        </td>
      </tr>
      <tr ng-show="lessChartTr">
        <td class="chartTd" colspan="5">
          days: <span class="chartData">{{habit.daysTracked.length}}</span>
          total: <span class="chartData">{{habit.total || 0}}</span>
          average: <span class="chartData">{{habit.average || 0}} instances/day</span>
        </td>
      </tr>
      <tr class="chartTr" ng-show="lessChartTr">
        <td class="chartTd" colspan="5">
          <div ac-chart="'bar'" ac-data="habit.lessChartData" ac-config="config" id='chart' class='chart'></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<button ng-click="habits.logout()">log out</button>
